<div>
  Image tags: <% @image.tags.each do|tag|%>
    <%= tag.tagname.downcase%>
    <%end%>
  <%if signed_in?%>
  <%= render "error_messages" %>
  <%= form_for [@image, @tag] do |form|%>
    <%=form.label "Tags"%>
    <%=form.text_field :tagname%>
    <%=form.submit "Add tags"%>
    <%end%>
  <%end%>
</div>