<div>
<%= image_tag(@image.url)%>
</div>

<div>
  Image tags: <% @image.tags.each do|tag|%>
    <%= tag.tagname.downcase%>
    <%end%>
  <%if signed_in?%>
  <%= form_for [@image, @tag] do |form|%>
    <%=form.label "Tags"%>
    <%=form.text_field :tagname%>
    <%=form.submit "Add tags"%>
    <%end%>
  <%end%>
</div>

<%= render "likes" %>

<%= form_for @image do |form| %>
<%=form.label "Groups"%>
<%= form.collection_check_boxes :group_ids, @groups, :id, :name%>
<%=form.submit "Update groups"%>
<%end%>


<p> Comments...</p>

<ul>
<% @comments.each do |comment| %>
  <li>
    <p><%= comment.body %></p>
    <p><%= time_ago_in_words comment.created_at %></p>
    <p>Written by <%=comment.user.email %></p>
  <%end%>
</ul>


<%= render "error_messages", target: @comment %>
<%= form_for [@image, @comment] do |form| %> 
 <div>
    <%= form.label :body, "Add comment"%>
    <%= form.text_field :body %>
    <%= form.submit "Submit comment" %>
  </div>
<% end%>
